*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
}

.cell {
    margin: 0;
    border: 1px solid red;
}